[flake8]
max-line-length = 88
extend-ignore = E203, W503, E128, E231, W292, E302
exclude =
    .git,
    __pycache__,
    .venv,
    .env,
    migrations,
    static,
    media,
    *.pyc,
    *.pyo,
    *.pyd,
    .tox,
    .eggs,
    *.egg
per-file-ignores =
    __init__.py:F401
    migrations/*:E501
    tests/*:E501,F401
    tests.py:F401
    settings.py:E501
    urls.py:E501 