{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/images.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}WielandTech Image Board{% endblock %}

{% block content %}
    <div class="images">
        <div id="header">
            <span class="logo"></span>
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section == "dashboard" %}class="selected"{% endif %}>
                        <a href="{% url "account:dashboard" %}">My dashboard</a>
                    </li>
                    <li {% if section == "images" %}class="selected"{% endif %}>
                        <a href="{% url "images:list" %}">Images</a>
                    </li>
                    <li {% if section == "people" %}class="selected"{% endif %}>
                        <a href="{% url "account:user_list" %}">People</a>
                    </li>
                </ul>
            {% endif %}
            <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url "login" %}">Log-in</a>
            {% endif %}
            </span>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">x</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="content">
            <div class="images">
                {% block images_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}