.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px 0;
}

.blog-layout {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.blog {
    flex: 3;
    min-width: 0;
}

.post {
    background-color: #f7f7f7;
}

.secondary a {
    color: inherit;
    text-decoration: underline;
}

.secondary a:hover {
    text-decoration: None;
}

#sidebar {
    flex: 1;
    max-width: 300px;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    font-size: 0.9rem;
}

#sidebar h2,
#sidebar h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .blog-layout {
        flex-direction: column;
    }

    #sidebar {
        border-left: none;
        border-top: 1px solid #ddd;
        margin-top: 2rem;
    }
}
