{% load thumbnail %}
{% for image in most_liked %}
    <div class="image-card">
        <a href="{{ image.get_absolute_url }}" class="image-link">
            {% thumbnail image.image 300x300 crop="smart" as im %}
            <img src="{{ im.url }}" alt="{{ image.title }}" class="image-thumbnail" />
        </a>
        <div class="info">
            <a href="{{ image.get_absolute_url }}" class="title">
                {{ image.title }}
            </a>
        </div>
    </div>
{% empty %}
    <div class="empty-state">
        <div class="icon">📷</div>
        <p>No images uploaded yet.</p>
    </div>
{% endfor %}
