{% load static %}
<div class="parallax transition4" id="education"></div>
<div class="content">
    <h2 class="secondary">Education</h2>

    <p class="location float_right">Kalamazoo, Michigan</p>

    <p class="institution">Kalamazoo College</p>

    <p>2018 / Bachelor of Arts / Double Major in Mathematics and Computer Science</p>

    <p><b>Senior Thesis:</b> <a href="{% static 'files/Raphael_Wieland_Senior_Individualized_Project.pdf' %}" target="_blank">Building an App in Eighty Days</a></p>

    <p class="job">Relevant Coursework:</p>

    <p>
        <i>Computer Science</i>: Data Structures; Design and Analysis of Computer Algorithms; Principles of Programming Languages; Computer Organization; Mobile Computing
        <br>
        <i>Mathematics</i>: Probability; Statistics; Discrete Mathematics; Linear Algebra; Abstract Algebra
    </p>

    <p class="job">Organizations:</p>

    <p>Two years as the head layout editor (and effective copy editor) of <a href="https://www.thekzooindex.com/" target="_blank"> The Index</a>, Kalamazoo College&#39;s student run newspaper. Formatted the layout of all six pages of the newspaper and consistently met weekly publication deadlines.</p>
</div>