{% load static %}

<div class="parallax transition5"></div>

<div class="content" id="projects">
	<a href="https://github.com/wielandtech" target="_blank">
		<img class="logo float_right" src="{% static 'img/GitHubLogo.png' %}" />
	</a>

	<h2 class="secondary">Projects</h2>

	<p class="date float_right">2025</p>

	<p class="job"><a href="./blog" target="_self">/blog</a> - Django Web Application</p>

	<p>
		Developed a full-featured blog platform using the Django framework, designed to support dynamic and scalable content management.
	</p>

	<ul>
		<li>Content Tagging: Implemented a flexible tagging system that allowed posts to be categorized and filtered using user-defined tags, improving content discoverability and engagement.</li>
		<li>Full-Text Search with PostgreSQL: Integrated PostgreSQL’s full-text search capabilities to enable efficient and accurate search functionality across blog posts, including ranking and highlighting of search results.</li>
		<li>RSS Feed Generation: Built a dynamic RSS feed generator to syndicate content, automatically updating with new blog posts and supporting filtering by tag or category.</li>
		<li>Admin and Author Workflows: Leveraged Django’s admin interface for content moderation and editorial workflows, enhancing usability for non-technical content creators.</li>
		<li>Clean, Responsive UI: Developed a responsive front-end using HTML, CSS, and Django templates, ensuring a smooth reading experience across devices.</li>
	</ul>
	<br>

	<p class="date float_right">2022</p>

	<p class="job"><a href="./projects/warn_headhunter" target="_blank">WARN Headhunter</a> - Python Application</p>

	<p>This Python application scrapes and parses the Worker Adjustment and Retraining Notifications of all available states.</p>

	<ul>
		<li>The notifications are originally stored in HTML, XLS, and PDF formats and parsed by the BeautifulSoup4, Pandas, and Tabula frameworks, respectively.</li>
		<li>The resulting parsed notifications are stored in a Google Spreadsheet and populated with D.U.N.S. and NAICS codes.</li>
		<li>Combined, this allows workers within targeted industries to be found via LinkedIn and recruited 60 days before they are laid-off.</li>
	</ul>
	<br>

	<p class="date float_right">2021</p>

	<p class="job"><a href="https://www.tricitiesartistincubator.com/" target="_blank">Tri-Cities Artist Incubator (DEFUNCT)</a> - Website</p>

	<p>Co-founded a fab-lab and co-working space focused on artistic endeavors.</p>

	<ul>
		<li>Met with client to develop requirement specifications.</li>
		<li>Designed, built, and hosted company website according to specifications.</li>
		<li>Set up Google Workspace (including groups, aliases, and shared drives.)</li>
		<li>Built the co-working space&#39;s scheduling system with Google Calendar integration.</li>
	</ul>
</div>