{% extends "blog/base.html" %}
{% load blog_tags %}
{% load static %}

{% block title %}WielandTech Blog{% endblock %}

{% block extra_head %}
<script defer src="{% static 'js/likes.js' %}"></script>
{% endblock %}

{% block blog_content %}
    {% if tag %}
    <h2 class="primary">Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
    <div class="post">
        <h2 class="secondary">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|markdown|truncatewords_html:140 }}
        <div class="post-actions">
            <a href="{{ post.get_absolute_url }}">Comment or Share</a>
            {% if request.user.is_authenticated %}
                {% with total_likes=post.users_like.count users_like=post.users_like.all%}
                <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
                   class="like button">
                    {% if request.user not in users_like %}
                        🤍
                    {% else %}
                        ❤️
                    {% endif %}
                </a>
                {% endwith %}
            {% endif %}
        </div>
    </div>
    {% empty %}
    <div class="no-posts">
        <p>No posts available yet.</p>
    </div>
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock %}

{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
        $.post('{% url "images:like" %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
        function(data){
            if (data['status'] == 'ok')
            {
                var previous_action = $('a.like').data('action');

                // toggle data-action
                $('a.like').data('action', previous_action == 'like' ?
                'unlike' : 'like');

                // toggle link text
                $('a.like').text(previous_action == 'like' ? 'Unlike' :
                'Like');

                // update total likes
                var previous_likes = parseInt($('span.count .total').
                text());
                $('span.count .total').text(previous_action == 'like' ?
                previous_likes + 1 : previous_likes - 1);
                }
            }
        );
    });
{% endblock %}
