{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}Search{% endblock %}
{% block blog_content %}
<div class="search-results">
    {% if query %}
        <h2 class="primary">Posts containing "{{ query }}"</h2>
        <h3>
            {% with results.count as total_results %}
            Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for post in results %}
        <div class="post-search-result">
            <h4 class="secondary"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            {% truncate_with_read_more post.body 5 post.get_absolute_url %}
        </div>
        {% empty %}
        <p>There are no results for your query.</p>
        {% endfor %}
        <a href="{% url 'blog:post_search' %}" class="search-again">Search again</a>
    {% else %}
        <h2 class="primary">Search for posts</h2>
        <form method="get" class="search-form">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    {% endif %}
</div>
{% endblock %}