{% load static %}
<div class="content about" id="about_anchor">
    <img class="profile float_right" src="{% static 'img/profile.png' %}" />
    <h2 class="secondary">Hello World</h2>
    <p>My name is Raphael and below me is Ursa.</p>
    <p>We are both intelligent, hard-working beings with a desire for validation.</p>
    <p>More importantly, we both have a love for adventure and an eagerness to learn.</p>
    <p>Whether that be by the water,</p>
</div>
<div class="parallax transition1"></div>

<div class="split_transition">IN THE SNOW,</div>

<div class="parallax transition2"></div>

<div class="split_transition">OR AT WORK.</div>

<div class="parallax transition3"></div>