<div class="parallax transition5"></div>

<div class="content" id="projects_anchor"><a href="https://github.com/wielandtech" target="_blank"><img class="logo float_right" src="{% static 'img/GitHubLogo.png' %}" /></a>

	<h2 class="secondary">Projects</h2>

	<p class="date float_right">2022</p>

	<p class="job"><a href="./projects/warn_headhunter" target="_blank">WARN Headhunter</a> - Python Application</p>

	<p>This Python application scrapes and parses the Worker Adjustment and Retraining Notifications of all available states.</p>

	<ul>
		<li>The notifications are originally stored in HTML, XLS, and PDF formats and parsed by the BeautifulSoup4, Pandas, and Tabula frameworks, respectively.</li>
		<li>The resulting parsed notifications are stored in a Google Spreadsheet and populated with D.U.N.S. and NAICS codes.</li>
		<li>Combined, this allows workers within targeted industries to be found via LinkedIn and recruited 60 days before they are laid-off.</li>
	</ul>
	<br>

	<p class="date float_right">2021</p>

	<p class="job"><a href="https://www.tricitiesartistincubator.com/" target="_blank">Tri-Cities Artist Incubator</a> - Website</p>

	<p>Co-founded a fab-lab and co-working space focused on artistic endeavors.</p>

	<ul>
		<li>Met with client to develop requirement specifications.</li>
		<li>Designed, built, and hosted company website according to specifications.</li>
		<li>Set up Google Workspace (including groups, aliases, and shared drives.)</li>
		<li>Built the co-working space&#39;s scheduling system with Google Calendar integration.</li>
	</ul>
</div>