{% load static %}

<div class="content work" id="resume">
	<a href="https://linkedin.com/in/raphael-wieland/" target="_blank">
		<img class="logo float_right" src="{% static 'img/LinkedInLogo.png' %}" />
	</a>

<h2 class="secondary">Work Experience</h2>

<p class="institution float_right">Zonar Systems, Inc.</p>

<p class="job">Software Development Engineer II</p>

<p class="location float_right">Seattle, Washington</p>

<p class="date">November 2023 - March 2025</p>

<p>Electronic Verified Inspection Report Services Infrastructure Team</p>

<ul>
	<li>Increased traffic <strong>417x</strong> by transforming, enriching, and ingesting messages from the legacy monolith into modern cloud microservices, thereby unlocking the modern web app for legacy customers.</li>
	<li>Migrated a synchronous Flask API to an asynchronous FastAPI, upgrading from Python 3.8 to 3.11 along the way for better maintainability and performance.</li>
	<li>Optimized SQL queries, reducing execution times by <strong>96%</strong>, enhancing performance and user experience.</li>
    <li>Developed an Apache Beam pipeline in Kotlin to stream and route Pub/Sub messages, reducing data latency.</li>
</ul>
<br>

<p class="institution float_right">Zonar Systems, Inc.</p>

<p class="job">Software Development Engineer I</p>

<p class="location float_right">Seattle, Washington</p>

<p class="date">June 2022 - November 2023</p>

<p>Electronic Verified Inspection Report Services Infrastructure Team</p>

<ul>
	<li>Performed DevOps on a variety of microservices including Python Flask and Tornado APIs deployed on a Kubernetes cluster in Google Cloud. Participated in week-long on-call rotations.</li>
	<li>Designed and implemented a distributed system that ingests telematics data to trigger alerts and notifications, thereby providing actionable insight and unlocking sales to existing telematics customers.</li>
	<li>Led the backend development for Canadian localization, ensuring API internationalization and product compliance with Canadian Council of Motor Transport Administrators regulations.</li>
	<li>Diagnosed and resolved critical configuration issues in a legacy C++ codebase, preserving <strong>$6M ARR</strong>>.</li>
</ul>
<br>

<p class="institution float_right">Level Data, Inc.</p>

<p class="job">Software Integration Engineer</p>

<p class="location float_right">Kalamazoo, Michigan</p>

<p class="date">Febuary 2019 - December 2020</p>

<ul>
	<li>Met with customers and provided technical expertise to business analysts to develop requirements.</li>
	<li>Implemented integrations for Microsoft Active Directory and Google Workspace connector services.</li>
	<li>Modernized on-premises Active Directory management software in Python, reducing VB6 codebase by <strong>83%</strong>.</li>
</ul>
<br>

<p class="institution float_right">Kalamazoo College C.S. Department</p>

<p class="job">Teaching Assistant</p>

<p class="location float_right">Kalamazoo, Michigan</p>

<p class="date">January 2016 - June 2018</p>

<ul>
	<li>Assisted with Python and Java coursework on data structures and algorithms, mentoring students and grading assignments.</li>
	<li>Hosted weekly office hours, simplifying complex topics for beginners while improving communication skills.</li>
</ul>
<br>

<p class="institution float_right">Whittaker Associates Inc.</p>

<p class="job">Research Analyst Intern</p>

<p class="location float_right">Holland, Michigan</p>

<p class="date">June 2013 - December 2014</p>

<ul>
	<li>Researched bleeding edge industries and generated leads within those industries of companies which were most likely to expand or relocate. The final version of one such report ended up on Gov. Rick Perry&#39;s desk.</li>
	<li>Completed the CUNY Master&#39;s in Data Science bridge course during which I was first introduced to MySQL, Python, and R in an analytical context. This first taste inspired me to pursue a degree in Computer Science.</li>
</ul>
</div>